/* @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap'); */

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.navbar {
  /* Create grid for navbar */
  display: grid;
  gap: 0.5rem;

  padding: 0 30px;
  width: 100%;
  min-width: 750px;
  
  grid-template-columns: max-content auto min-content;
  grid-template-areas: "logo mode nav";

  /* Add a lightgray background color to the top navigation */
  background-color: lightgray;
  overflow: hidden;

  /* Separate navbar from main */
  border-bottom: 1px solid black;
}

/* Position logo-element in navbar */
.navbar .logo {
  grid-area: logo;

  justify-self: start;
  align-self: center;

  color: black;
}

/* Position mode-element in navbar */
.navbar .mode {
  grid-area: mode;
  
  justify-self: center;
  align-self: center;  
}

/* Settings for the button */
.navbar .mode .button {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  color: black;
  display: inline-block;

  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;

  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Settings for the first span-element(light) of button */
.navbar .mode .button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

/* Settings for the last span-element(dark) of button */
.navbar .mode .button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  
  /* Makes the dark-element invisible */
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 1rem; /*14px;*/
  line-height: 1rem; /*13px;*/
}

/* Add additional elements after the button */
.navbar .mode .button::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  /* Define transformation */
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

/* Add additional elements after the button on hover */
.navbar .mode .button:hover::after {
  /* Define transformation */
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

/* What happens to last span-element(dark) of the button on hover */
.navbar .mode .button:hover span:last-child {
  /* Define transformation */
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Position nav-element in navbar */
.navbar .nav {
  grid-area: nav;

  /* Create nested grid for navigation items */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0;

  justify-self: end;
  align-self: center;
  justify-content: center;
  align-items: center;

  padding: 0;
  height: 100%;

  /* Remove the bullets from the list  */
  list-style: none;
}

/* Style the links inside the navigation bar */
.navbar .nav a {
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: white;
  color: black;
}









/*
.wrapper {
  display: grid;
  width: 1040dp;
  margin: 30px;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

/*
.content {
  grid-column: 1 / span 9;
}

/*.profile-picture {
  grid-area: 2 / 11 / 2 / 12;
}

.projects {
  grid-area: 2 / 1 / 3 / -1;
}

.skills {
  grid-area: 3 / 1 / 4 / -1;
}


.contact {
  grid-area: 4 / 1 / 5 / -1;
}

.main-footer {
  grid-area: 5 / 1 / 6 / -1;
}

/*
.wrapper {
  grid-template-areas:
    "navbar"
    "about"
    "projects"
    "skills"
    "contact"
    "footer";
}*/

/*
@media (max-width: 599dp) {
  .wrapper {
    margin: 16dp;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 600dp) {
  .wrapper {
    margin: 32dp auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 905dp) {
  .wrapper {
    width: 840dp;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 1240dp) {
  .wrapper {
    margin: 200dp auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 1440dp) {
  .wrapper {
    width: 1040dp;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "name name button button button button button button button button button button"
      "about about about about about about about about about about pic pic"
      "projects projects projects projects projects projects projects projects projects projects projects projects "
      "skills skills skills skills skills skills skills skills skills skills skills skills"
      "contact contact contact contact contact contact contact contact contact contact contact contact"
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  nav ul {
    flex-direction: column;
  }
}*/