/* @import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap'); */

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  display: grid;

  padding: 0;
  margin: 0;

  overflow: hidden;

  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 20px;
}

.site-grid {
  min-height: 100vh;

  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}


header {
  margin: 0;
  width: 100%;
  grid-area: header;
}

.navbar {
  /* Keep navigation bar at top */
  grid-area: navbar;
  position: sticky;
  top: 0;

  /* Add a lightgray background color to the top navigation */
  background-color: lightgray;
  overflow: hidden;

  /* Separate navbar from main */
  border-bottom: 1px solid black;
}

/* Create grid for navbar */
.nav-grid {
  display: grid;
  gap: 0 0.5rem;
  
  width: 100%;

  padding: 0 30px;
  grid-template-columns: max-content auto max-content;
  grid-template-areas: "logo mode nav";
}

/* Position logo-element in navbar */
.navbar .logo {
  grid-area: logo;

  justify-self: start;
  align-self: center;

  margin: 0;
  padding: 1rem 0;
  color: black;
}

/* Position mode-element in navbar */
.navbar .mode {
  grid-area: mode;
  
  justify-self: center;
  align-self: center;  
}

/* Settings for the button */
.navbar .mode .button {
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  color: black;
  display: inline-block;

  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.1rem;

  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Settings for the first span-element(light) of button */
.navbar .mode .button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

/* Settings for the last span-element(dark) of button */
.navbar .mode .button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  
  /* Makes the dark-element invisible */
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 1rem; /*14px;*/
  line-height: 1rem; /*13px;*/
}

/* Add additional elements after the button */
.navbar .mode .button::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  /* Define transformation */
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

/* Add additional elements after the button on hover */
.navbar .mode .button:hover::after {
  /* Define transformation */
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

/* What happens to last span-element(dark) of the button on hover */
.navbar .mode .button:hover span:last-child {
  /* Define transformation */
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

/* Position nav-element in navbar */
.navbar .nav {
  grid-area: nav;

  /* Create nested grid for navigation items */
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-areas: "link1 link2 link3 link4";
  gap: 0;

  justify-self: end;
  align-self: center;
  justify-content: center;
  align-items: center;

  padding: 0;
  height: 100%;

  /* Remove the bullets from the list  */
  list-style: none;
}

li.about {
  grid-area: link1;
}

li.projects {
  grid-area: link2;
}

li.skills {
  grid-area: link3;
}

li.contact {
  grid-area: link4;
}

/* Style the links inside the navigation bar */
.navbar .nav a {
  color: black;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: white;
  color: blue;
}

/* Set grid for elements in main */
.main-grid {
  grid-area: main;
  margin: 0 30px;
  grid-template-areas:
  "about about about about about about about about about about profile-pic profile-pic"
  "projects projects projects projects projects projects projects projects projects projects projects projects"
  "skills skills skills skills skills skills skills skills skills skills skills skills"
  "contact contact contact contact contact contact contact contact contact contact contact contact";
}

.about {
  grid-area: about;
}

.about h1 {
  margin-top: 0;
}

.profile-picture {
  grid-area: profile-pic;
  overflow: hidden;
  margin-top: 0;
}

.profile-picture img {
  max-width: 100%;
  height: auto;
}

.projects {
  grid-area: projects;
}

.skills {
  grid-area: skills;
}

.contact {
  grid-area: contact;
}

.main-footer {
  grid-area: footer;
  align-self: end;

  width: 100%;
  background-color: lightgray;

  text-align: center;
  margin: 0;
  margin-top: auto;
  padding: 0 30px;

  border-top: 1px solid black;
}

.main-footer .copyright p {
  margin: 0;
  padding: 16px;
}





@media (max-width: 402px) {
  .nav-grid {
    padding: 0 16px;
    grid-template-columns: auto;
    grid-template-areas: 
    "logo"
    "mode"
    "nav";

    overflow: hidden;
  }

  .navbar .logo {
    justify-self: center;
  }

  .navbar .mode {
    justify-self: center;
  }

  .navbar .nav {
    justify-self: center;
    overflow-x: scroll;
    box-sizing: content-box;
  }

  .main-grid {
    margin: 0 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "profile-pic profile-pic profile-pic profile-pic"
      "about about about about"
      "projects projects projects projects"
      "skills skills skills skills"
      "contact contact contact contact";
  }
}

@media (min-width: 403px) {
  .nav-grid {
    padding: 0 16px;
    grid-template-columns: auto;
    grid-template-areas: 
    "logo mode"
    "nav nav";
  }

  .navbar .mode {
    justify-self: end;
  }

  .navbar .nav {
    justify-self: center;
  }

  .main-grid {
    margin: 0 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "about about profile-pic profile-pic"
      "projects projects projects projects"
      "skills skills skills skills"
      "contact contact contact contact";
  }
}

@media (min-width: 600px) {
  .nav-grid {
    padding: 0 16px;
    grid-template-columns: auto;
    grid-template-areas: 
    "logo mode"
    "nav nav";
  }

  .navbar .mode {
    justify-self: end;
  }

  .navbar .nav {
    justify-self: center;
  }

  .main-grid {
    margin: 0 16px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
    "about about about about about about  profile-pic profile-pic"
    "projects projects projects projects projects projects projects projects"
    "skills skills skills skills skills skills skills skills"
    "contact contact contact contact contact contact contact contact";
  }
}

@media (min-width: 747px) {
  .nav-grid {
    padding: 0 30px;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "logo mode nav";
  }

  .navbar .mode {
    justify-self: center;
  }

  .navbar .nav {
    justify-self: end;
  }

  .main-grid {
    margin: 0 16px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "about about about about about about about about about profile-pic  profile-pic profile-pic"
    "projects projects projects projects projects projects projects projects projects projects projects projects"
    "skills skills skills skills skills skills skills skills skills skills skills skills"
    "contact contact contact contact contact contact contact contact contact contact contact contact";
  }
}

@media (min-width: 906px) {
  .nav-grid {
    padding: 0 30px;
    grid-template-columns: max-content auto max-content;
    grid-template-areas: "logo mode nav";
  }

  .navbar .mode {
    justify-self: center;
  }

  .navbar .nav {
    justify-self: end;
  }

  .main-grid {
    margin: 0 30px;
    grid-template-areas:
    "about about about about about about about about about about profile-pic profile-pic"
    "projects projects projects projects projects projects projects projects projects projects projects projects"
    "skills skills skills skills skills skills skills skills skills skills skills skills"
    "contact contact contact contact contact contact contact contact contact contact contact contact";
  }
}

/*
@media (max-width: 599px) {
  .wrapper {
    margin: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 600px) {
  .wrapper {
    margin: 32px auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 905px) {
  .wrapper {
    width: 840px;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 1240px) {
  .wrapper {
    margin: 200px auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ""
      ""
      ""
      "";
  }
  nav ul {
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 1040px;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "header header header header header header header header header header header header"
      "main main main main main main main main main main main main"
      ". . . . . . . . . . . ."
      "footer footer footer footer footer footer footer footer footer footer footer footer";
  }
  nav ul {
    flex-direction: column;
  }
}*/